
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@500&display=swap');

 * {
   box-sizing: border-box;
 }
 body {
   background-color: #f9fafb;
   font-family: 'Turret Road';
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 60vh;
   margin: 0;
 }

 .container {
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
   width: 400px;
 }

 .h2 {
   text-align: center;
   margin: 0 0 2px;
 }

 .form {
   padding: 30px 40px;
 }