
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@500&display=swap');

 * {
   box-sizing: border-box;
 }
 body {
   background-color: #f9fafb;
   font-family: 'Turret Road';
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 60vh;
   margin: 0;
 }